<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace的值一定是接口的全路径与接口绑定后,此文件相当于接口的实现类  -->
<mapper namespace="com.gqw.dao.caiwutongji.CaiwutongjiMapper">
<select id="select_caiwutongji" parameterType="int" resultType="Caiwutongji">
	select * from caiwutongji where loginid=#{loginid}
		<if test="type!=null and type!=''">
			and type=#{type}
		</if>
		<if test="date1!=null and date2!=null and date1!='' and date2!=''">
			and time between #{date1} and #{date2}
		</if>
		limit #{start},#{pageSize}
</select>
<select id="select_integral" parameterType="int" resultType="integral" >
	select * from integral where loginid=#{loginid}
</select>
</mapper>