<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace的值一定是接口的全路径与接口绑定后,此文件相当于接口的实现类  -->
<mapper namespace="com.gqw.dao.email.EmailMapper">
<insert id="createEmail" parameterType="Email">
	insert into email(fasongzhe,addressee,title,text,time,status,loginid)
	values(#{fasongzhe},#{addressee},#{title},#{text},#{time},#{status},#{loginid});
</insert>
<select id="receiveEmail" parameterType="string" resultType="Email">
	select * from email  where loginid=#{loginId} or addressee=#{addressee}
		<if test="status!=null and status!=''">
			and status=#{status}
		</if>
		<if test="date1!=null and date2!=null and date1!='' and date2!=''">
			and time between #{date1} and #{date2}
		</if>
		limit #{start},#{pageSize}
</select>
<delete id="deleteEmail" parameterType="int">
	delete from email where id=${id}
</delete>
</mapper>