<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<!-- namespace的值一定是接口的全路径与接口绑定后,此文件相当于接口的实现类  -->
<mapper namespace="com.gqw.dao.jifendianzibi.JifendianzibiMapper">
	<insert id="insertJifendianzibi" parameterType="JifendianzibiOrder">
		insert into jifendianzibidingdan(number ,ordernumber ,futounumber ,futoumoney ,allfenhong ,truefenhong ,time ,status ,loginid)
		values(#{number},#{ordernumber},#{futounumber},#{futoumoney},#{allfenhong},#{truefenhong},#{time},#{status},#{loginid});
	</insert>
	<select id="conditionPageOrder" parameterType="string" resultType="JifendianzibiOrder">
		select * from jifendianzibidingdan  where loginid=#{loginId}
		<if test="ordernumber!=null and ordernumber!=''">
			and ordernumber=#{ordernumber}
		</if>
		<if test="date1!=null and date2!=null and date1!='' and date2!=''">
			and time between #{date1} and #{date2}
		</if>
		limit #{start},#{pageSize}
	</select>
	
	<select id="selectLogin_username" parameterType="string" resultType="string">
		select username from login where id=#{loginid}
	</select>
	
	<select id="selectMycount" parameterType="int" resultType="Integral">
		select * from integral where loginid=#{loginid}
	</select>
</mapper>